<!DOCTYPE>
<html ng-app="myApp">
<head>

 <title>Report</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

 </head> 

 <style type="text/css">
 .panel.panel-default
{
  height: 80%;
  width: 100%;
  border-style: solid;
  border-color: black;
}
.fieldset-auto-width {
         display: inline-block;
    }

  thead, tbody, tr, td, th { display: block; }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th {
            height: 60px;
              width: 7%;

            float: left;

            /*text-align: left;*/
        }

        tbody {
            height: 450px;
            overflow-y: auto;
        }

        tbody td {

            width: 7%;

            float: left;
        }

 </style>

 <body  style="background-color:#bdc3c7;" ng-controller="reportCntrl">
 <br>
 <br>
 <div class="row">
 	<div class="col-sm-1">

<form>
 	<!--  <fieldset  class="fieldset-auto-width"> -->
 		Barcode
		<br>
	<!-- <legend>Barcode</legend> -->
  <input type="radio" ng-model="radio.barcode" ng-change="radiobutton1()" value="yes" > Yes
  <br>
  <input type="radio" ng-model="radio.barcode" ng-change="radiobutton1()" value="no" > No
  <!-- </fieldset>
  </form> -->
	
	</div> 
	<div class="col-sm-1">
 		Weight
		<br>

  <input type="radio" ng-model="radio.weight" ng-change="radiobutton1()" value="gwt" > Gross
  <br>
  <input type="radio" ng-model="radio.weight" ng-change="radiobutton1()" value="ntwt" > Nett
	
	</div>
	<div class="col-sm-2">
 		Report By
		<br>

  <!-- <input type="radio" ng-model="radio.report" ng-change="radiobutton1()" value="manufacturer" > Manufacturer <br> -->
  <input type="radio" ng-model="radio.report" ng-change="radiobutton1()" value="purity" > Purity <br>
  <input type="radio" ng-model="radio.report" ng-change="radiobutton1()" value="itemName" > Item <br>
	
	</div>
	<div class="col-sm-2">
		As On <br>
		<input  type="date" id="yourDatePicker" > 
	</div>
	<div class="col-sm-3">
		Transaction Type 
		<br>

  <input type="radio" ng-model="radio.transaction" ng-change="radiobutton1()" value="regular" > Regular
  <input type="radio" ng-model="radio.transaction" ng-change="radiobutton1()" value="estimate"> Estimate
  <input type="radio" ng-model="radio.transaction" ng-change="radiobutton1()" value="scheme" > Scheme
  <input type="radio" ng-model="radio.transaction" ng-change="radiobutton1()" value="party"> Party
	</div>

	<div class="col-sm-3">
		<button ng-click="preview()" class="btn btn-primary" id="save" >Preview</button>
		<button  ng-click="save()" class="btn btn-info" id="save" >P D F</button>
		<button ng-click="save()" class="btn btn-danger" id="save" >Export</button>
	</div>

 </div>
 <br>
 <div class="panel panel-default">
 	<table class="table">
 	  <thead>
          <tr >
             <!-- <th><span class="text">Item Name</span></th>
             <th><span class="text">Group</span></th>
             <th><span class="text">Sale Category</span></th>
             <th><span class="text">Type</span></th> -->
        <th ng-if = " radio.report =='purity' " >Group</th>
        <th ng-if = " radio.report =='purity' " >Purity</th>
         
             <th>Item</th>
             <th>UoM</th>
             <th>Op Qty</th>
             <th>Op Pcs</th>
             <th>Rcv Qty</th>
             <th>Rcv Pcs</th>
             <th>Tot Qty</th>
             <th>Tot Pcs</th>
             <th>Iss Qty</th>
             <th>Iss Pcs</th>
             <th>CI Qty</th>
             <th>CI Pcs</th>

           </tr>
     </thead>
     <tbody >
     	<tr ng-repeat ="details in reportonedate1" >
            
          <td ng-if = " radio.report =='purity' " >{{details.group}}</td>
        <td ng-if = " radio.report =='purity' " >{{details.purity}}</td>
             <td>{{details.item}}</td>
             <td>{{}}</td>
             <td>{{details.opQty}}</td>
             <td>{{details.opPcs}}</td>
             <td>{{details.rcvQty}}</td> 
              <td>{{details.rcvPcs}}</td>
               <td>{{details.totQty}}</td>   
                <td>{{details.totPcs}}</td>
                 <td>{{details.issQty}}</td>
                  <td>{{details.issPcs}}</td>
                   <td>{{details.ciQty}}</td>
                   <td>{{details.ciPcs}}</td>
                   

         </tr>
          
     </tbody>
    </table>
 	
 </div>

 </body>
<!-- for javascript date -->
 <script>
document.getElementById("yourDatePicker").valueAsDate = new Date()
</script>

 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript" src="controller/reportCntrl.js"></script> 

 </html>